@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    font-family: var(--font-family);
}

body {
    background-color: var(--color-bg);
    color: var(--text-body);
    font-size: 14px;
}